<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization">
    </script>
    <%= js  :headjs %>
    <%= css  :application %>
  </head>
  <body>
    <header>
      <h1 class="logo">Chaude carte - visualisation urbaine</h1>
    </header>
    <div class="map-canvas" id="base_canvas"></div>
    <div class="map-wrap">
      <div class="map-canvas" id="top_canvas"></div>
    </div>
    <div id="dragger"></div>
    <script>
      window.baseMapHeatMapPoints = <%= prices %>.map(function(point) {
        return { location: new google.maps.LatLng(point.latlon[0], point.latlon[1]),
                 weight: point.price };
      });
      window.topMapHeatMapPoints = <%= trees %>.map(function(point) {
        return { location: new google.maps.LatLng(point[1], point[0]) };
      });
    </script>
    <%= js  :bodyjs %>
  </body>
</html>
